<section id="home"><h1><%= page.title %></h1><%- page.content %></section>
<section id="promo"><%- partial("promo") %></section>
<section id="partners"><%- partial("partners", { partners: site.data.partners.partners }) %></section>
<section id="judges"><%- partial("judges") %></section>
<section id="winners"><%- partial("winners") %></section>
<section id="prizes"><%- partial("prizes") %></section>
<section id="categories"><%- partial("categories") %></section>
<section id="places"><%- partial("places") %></section>
<section id="rules"><%- partial("rules") %></section>
<section id="contact"><%- partial("contact") %></section>
